p a {
    color: blue; 
}

div.enonce img.encadre {
    border: 2px solid black; 
}

img[width="300"] {
    width: 200px;
}

article.remarque time[datetime] {
    font-style: italic;
}

div.exemple > p {
    font-weight: bold; 
}

p#important > img.encadre {
    opacity: 0.5; 
}

div > img:first-child {
    border: 1px solid red;
}

* > img:nth-child(odd) {
    filter: grayscale(100%); 
}

article.exercice > p:first-child a[href$=".jpg"] {
    text-decoration: none; 
}

div.reponse + div.remarque {
    margin-top: 20px; 
}

section article > p:nth-child(2) {
    color: green; 
}
